<!--
  Generated template for the About page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h1 class="main-page-heading">Welcome to Global Care Pharmacy</h1>
	<hr>
	<p>Global Care Pharmacy is the first online Pharmacy in Pakistan where users can buy medicines by uploading their prescriptions.</p>
	<p>Global Care Pharmacy is licensed Pharmacy in Rawalpindi as well as full home delivery services across Pakistan. In order to provide you with lowest possible prices for your medications. You can buy medication at lower rates from Pakistan First Online Global Care Pharmacy.</p>
	<h2>How can we help</h2>
	<p>Just like local Pharmacy you can speak to pharmacist at any time and receive medication at your door step with in 1 to 2 hours in Rawalpindi-Islamabad and 2 to 3 days across Pakistan.</p>
	<p>We are committed to saving your medications. You always receive the lowest price when ordering your medications from Global Care Pharmacy. By using the online pharmacy services of Global Care Pharmacy, be rest assured that you will get only genuine medicines along with bill every time.</p>
	<p>Just like your neighbor pharmacy, Global care Pharmacy discount prescription medicines will only refer order that accompany a valid prescription for all products which require a prescriptions. You can send prescription to use by:</p>
	<ul >
		<li><strong>Email:</strong> <a href="email:order@globalcare.com.pk" title="Email us at order@globalcare.com.pk">order@globalcare.com.pk</a></li>
	    <li><strong>WhatsApp:</strong> +92 311 176 1222</li>
	    <li><strong>Call Center:</strong> +92 051 484 8934-6</li>
	    <li><strong>Website:</strong> <a href="www.globalcare.com.pk" title="Global Care Pharmacy">www.globalcare.com.pk</a></li>
	</ul>
	<p>All orders are backed with a 100% Price Match Guarantee. If you’re found the same product at a lower prices, let us know we will match it. Buy all of your medicines from Global Care Pharmacy online prescription services with confidence.</p>
	<p>Patient counselling from licensed pharmacist is available for our customers from 9am to 5 pm. Pakistan Standard Time from Monday to Friday excluding holidays.</p>
	<hr>
	<button ion-button [navPush]="contactPage">Contact Us</button>
</ion-content>
