<!--
  Generated template for the OrderTab2 page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>OrderTab2</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <h1 color="secondary">Enter your Tracking ID</h1>
  <p>Please make sure your Prescription is clear and visible before placing an order.</p>
  <ion-list>
    <ion-item>
      <ion-label floating>Enter Tracking ID</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <button ion-button clear>Terms of Service</button>
      <button ion-button clear>Privacy Policy</button>
    </ion-item>

    <ion-item>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
      <ion-label>I agree to the Terms of Service<br/>and Privacy Policy</ion-label>
    </ion-item>
  </ion-list>
  <div text-center>
    <button ion-button large color="secondary">Place Order Now!</button>
  </div>
</ion-content>
