<!--
  Generated template for the Order page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Place Order Now</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-tabs color="secondary" >
    <ion-tab tabTitle="Order with Prescription" [root]="tab1"></ion-tab>
    <ion-tab tabTitle="Order with Tracking ID" [root]="tab2"></ion-tab>
  </ion-tabs>
</ion-content>


<!-- <ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button icon-left (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Select Image
      </button>
      <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
        <ion-icon name="cloud-upload"></ion-icon>Upload
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->
