<!--
  Generated template for the Terms page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Terms of Service</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 color="secondary">Terms to be followed</h1>
  <p>Updated Terms of Service</p>
</ion-content>
