<!--
  Generated template for the OrderTab1 page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Order with Prescription</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <h1 color="secondary">Upload Your Prescription and Order details</h1>
  <p>Please make sure your Prescription is clear and visible before placing an order.</p>
  <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

  <ion-card-content>
    <b>{{data.response}}</b>
  </ion-card-content>

  <ion-slides #orderSlider>
    <ion-slide>
      <ion-list no-lines>
        <ion-item>
          <div text-center>
            <p>Select Your prescription.</p>
          </div>
          <img src="{{pathForImage(lastImage)}}" [hidden]="lastImage === null">
          <div text-center>
            <button color="secondary" ion-button (click)="presentActionSheet()">
              <ion-icon name="camera"></ion-icon>&nbsp;Select Image
            </button><!--
            <button ion-button (click)="uploadImage()" [disabled]="lastImage === null">
              <ion-icon name="cloud-upload"></ion-icon>&nbsp;Upload
            </button> -->
          </div>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <form [formGroup]="orderFormGroup">
      <ion-list no-lines>
        <ion-item>
          <ion-label color="secondary" floating>Full Name</ion-label>
          <ion-input type="text" formControlName="fullname" [(ngModel)]="data.fullname" ng-blur="visitedEmail = true"></ion-input>
        </ion-item>
        <ion-item *ngIf="!orderFormGroup.controls.fullname.valid  && (orderFormGroup.controls.fullname.dirty || submitAttempt)">
          <p class="error-message">Please enter a valid full name.</p>
        </ion-item>
        <ion-item>
          <ion-label color="secondary" floating>Email</ion-label>
          <ion-input type="email" formControlName="email" [(ngModel)]="data.email"></ion-input>
        </ion-item>
        <ion-item *ngIf="!orderFormGroup.controls.email.valid  && (orderFormGroup.controls.email.dirty || submitAttempt)">
          <p class="error-message">Please enter a valid email address.</p>
        </ion-item>
        <ion-item>
          <ion-label color="secondary" floating>Contact Number</ion-label>
          <ion-input type="tel" formControlName="tel" [(ngModel)]="data.tel"></ion-input>
        </ion-item>
        <ion-item *ngIf="!orderFormGroup.controls.tel.valid  && (orderFormGroup.controls.tel.dirty || submitAttempt)">
          <p class="error-message">Please enter a valid contact number</p>
        </ion-item>
        <ion-item>
          <ion-label color="secondary" floating>Address</ion-label>
          <ion-textarea rows="3" formControlName="address" [(ngModel)]="data.address"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="!orderFormGroup.controls.address.valid  && (orderFormGroup.controls.address.dirty || submitAttempt)">
          <p class="error-message">Please enter a valid address</p>
        </ion-item>
        <ion-item>
          <div text-center>
            <button ion-button clear color="secondary" (click)="showTermsPage()">Terms of Service</button>
            <button ion-button clear color="secondary" (click)="showPrivacyPage()">Privacy Policy</button>
          </div>
        </ion-item>
        <ion-item>
          <ion-checkbox color="secondary" formControlName="agree" [(ngModel)]="data.agree"></ion-checkbox>
          <ion-label>I agree to the Terms of Service<br/>and Privacy Policy</ion-label>
        </ion-item>
        <ion-item *ngIf="!orderFormGroup.controls.agree.valid  && (orderFormGroup.controls.agree.dirty || submitAttempt)">
          <p class="error-message">To proceed you must agree to the <br> Terms of Service and Privacy Policy</p>
        </ion-item>
        <ion-item>
          <!-- <img src="{{pathForImage(lastImage)}}" [hidden]="lastImage === null"> -->
          <button ion-button color="secondary" (click)="submitOrder()">Place Order Now!</button>
        </ion-item>
      </ion-list>
      <!-- <div text-center>
        <button ion-button large color="secondary" (click)="submitOrder()">Place Order Now!</button>
      </div> -->
      </form>
    </ion-slide>
  </ion-slides>
</ion-content>
