<ion-header>
  <ion-navbar color="primary">
    <ion-title>Global Care Pharmacy</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home-page">

  <ion-slides pager>
    <ion-slide *ngFor="let slide of slides">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button color="secondary" (click)="showOrderPage()">Skip</button>
        </ion-buttons>
      </ion-toolbar>
      <img [src]="slide.image" class="slide-image"/>
      <h2 color="secondary" class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <img src="img/smartphone.png" class="slide-image"/>
      <h2 class="slide-title">Place an order now!</h2>
      <button ion-button large icon-right color="secondary" (click)="showOrderPage()">
        Proceed
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
