@import "ionicons";

$colors: (
  primary:    #005A9C,
  secondary:  #94BA65,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// $color-primary-0: #94BA65;  // Main Primary color */
// $color-primary-1: #DDF0C7;
// $color-primary-2: #BFDE9A;
// $color-primary-3: #709A3D;
// $color-primary-4: #50791F;
