<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <ion-item>
        <p><ion-icon name="call"></ion-icon> +92 0514848934-36</p>
        <p>Whatsapp +92 311 176 1222</p>
        <p><ion-icon name="mail"></ion-icon> care@globalcare.com.pk</p>
        <p><ion-icon name="pin"></ion-icon> Building #D-135, D Block, Backside Midway Shopping Mall, 6th Road, Rawalpindi-Pakistan.</p>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
