<!--
  Generated template for the Privacy page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Privacy Policy</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1  color="secondary">Your Privacy is important to our company</h1>
  <p>This privacy policy has been assembled to better assist those who are fretful with how their Personally Identifiable Information' (PII) is being used online. PII, as defined in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to detect an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise knob your Personally Identifiable Information in accord with our website.</p>
  <p>When uploading on our site, as suitable, you may be asked to enter your name, email address, mailing address, phone number to help you with your experience.</p>
  <p>We collect information from you when you place an order, fill out a form on our site.</p>
  <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>
  <ul>
    <li>To improve our website in order to healthier serve you.</li>
    <li>To allow us to better service you in returning to your customer service requests.</li>
    <li>To quickly process your transactions.</li>
  </ul>
  <h4>How do we protect your information?</h4>
  <p>We do not use vulnerability scanning and/or scanning to PCI standards.</p>
  <p>We only provide articles and information.</p>
  <p>We use regular Malware Scanning.</p>
  <p>Your personal information is contained behind secured networks and is only reachable by a limited number of persons who have singular access rights to such systems, and are required to keep the data confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>
  <p>We implement a variety of security measures when a user places an order enters, submits.</p>
  <p>All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>
  <h4>Do we use 'cookies'?</h4>
  <p>We do not use cookies for tracking purposes</p>
  <h4>Third-party disclosure</h4>
  <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>
  <h4>Third-party links</h4>
  <p>We do not offer third-party products or services on our website.</p>
  <h4>Google</h4>
  <p>We do not advertise google ads.</p>
</ion-content>
