<!--
  Generated template for the Faq page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>FAQ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 color="secondary">FAQs for Global Care Pharmacy</h1>
  <h4>How to order</h4>
  <p>You can order medicines by e-mail "order@globalcare.com.pk, WhatsApp <strong color="secondary">03111761222</strong> and place one directly on www.globalcare.com.pk</p>
  <h4>Delivery</h4>
  <p>Home delivery service for <strong color="secondary">1</strong> to <strong color="secondary">2</strong> hours for Islamabad and Rawalpindi. We also deliver medicines across Pakistan through Courier Services. </p>
  <h4>Delivery Charges</h4>
  <p>Delivery is <strong color="secondary">FREE</strong> for Orders ABOVE 1000 Rupees. Our Delivery charges are 60 Rupees for orders below 100 and 40 Rupees for orders between 100 and 1000 Rupees.</p>
  <h4>What if I am not at home when the products are delivered?</h4>
  <p>In case you are not at home, please nominate a person or someone close by who can receive the order. Ensure that they have the payable amount.</p>
  <h4>Service days and time</h4>
  <p>You can order 24-7 through our website. We service order 6 days a week (Except Sunday). In case of any delay, our agent will inform you on a priority basis. You can contact us on: +92 0514848934-36 (between 9am and 7pm).</p>
  <h4>If my order does not get serviced?</h4>
  <p>We struggle hard to service all our orders. Conversely, in case we cannot, we will refund the cost of the medicines.</p>
  <h4>Payment options available</h4>
  <p>We currently take payments in Cash. Cash could be handed over at the time our service partner hands over the order to you.</p>
  <h4>How can I edit or cancel my order?</h4>
  <p>This can only be done before the order has been shipped, For order cancelation please Visit: <a href="http://www.globalcare.com.pk/returns-cancellations">http://www.globalcare.com.pk/returns-cancellations</a>/</p>
  <h4>About prescriptions</h4>
  <p>If you order a medicine that can only be prescribed by a qualified medical practitioner, then you need to have that prescription ready at the time of placing of order. You can either upload while placing the order if you have it ready or you can e-mail it later with your order ID to <a href="email:order@globalcare.com.pk.com">order@globalcare.com.pk.com</a></p>
</ion-content>
